In [3]:
table = pd.read_sql_query("SELECT name From sqlite_master WHERE type = 'table'",conn)
table

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('inventory.db')
df = pd.read_sql_query("SELECT * FROM  Vendor_Sales_Summary", conn)
df.to_csv('vendor_sales_summary.csv', index=True)
conn.close()